body {
    font-size: 15pt;
    height:100%;
    font-family:fun, courier;
}

@font-face {
  font-family: fun;
  src: url(/FUN.ttf);
}

#upgrades div .upgradediv {
  font-family: fun, Courier;
  border-top: 8px solid pink;
  box-sizing: border-box;
  min-height:45%;
  
  width: 90%;
  background-color:white;
 
 
  border: 8px solid pink;
  text-align: center;
  margin-top:20px;
}  

#upgrades, .upgradediv2 {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  
  min-height:100%;
}

#upgrades .upgradediv2 {
  border:0px;
}

.upgradediv:hover{
  background-color:pink !important;
}

* {
  border: 0px solid red;
  box-sizing: border-box; /* Include borders in element's total size */

}

 #num {
   font-family: fun, courier;
   font-size: 400%;
   
   text-align:center;
   margin:auto;
   text-align:center;
   display: flex;
   align-items: center;
   justify-content: center
 }
 
 #numdiv .instructions {
   font-size: 100%;
   
   text-align:center;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 #numdiv{
  flex-direction:column;
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 30pt;
  
  text-align:center;
 }
 
html, body {
  height: 100%; /* Ensure the body takes up the full height of the viewport */
  margin: 0; /* Remove default margin */
}

#game {
  display: flex; /* Stack the child elements vertically */
  width: 100%;
  min-height: 100%; /* Ensure it takes up at least the full height */
  border: 8px solid pink;
}
#idle {
  max-height:30%;
  margin-top: 20px;
  
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 16px solid pink;
}
 #idle p {
   border: 8px solid pink;
   width:30%;
   min-height:90% !important;
   
   text-align: center;
   
   padding:4px;
   
 }

#idle p:hover{
  background-color:pink;
}

#game div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure each section takes full width */
}
 
 #game * {
  width: 33.333%; 
  border: 0px solid pink;
 }
 
 #stats p {
   border-bottom: 4px solid deeppink;
 }
 
 #game div {
  text-align: center;
  border: 8px solid pink;
}
 
 #game div {
  justify-content: center;
  align-items: center;
  display: flex;
 }
 
 #game #stats {
   flex-direction: column;
   align-items: center;
 }
 
 .stats {
   font-size: 150%;
 }
 
 footer {
   width: 100%;
   border: 8px solid pink;
   margin-top: 20px;
   
 }
footer table {
  width: 100%; /* Ensure table takes up full width */
}

footer td {
  width: 50%; /* Each cell takes up half the space */
  text-align: center
}

#deposit {
  width: 90%;
  border: 4px solid pink;
  border-radius:5px;
  
}

#deposit:hover {
  background-color:pink;
}